/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background-image: url("one2.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.wrapper{
  height: 265px;
  max-width: 410px;
  background-image: url(one.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  position: relative;
  right:35vw;
  bottom: -3vw;
}
.wrapper.active{
  height:75vh;
}
header h1{
  font-size: 21px;
  font-weight: 500;
  color: wheat;
}
header p{
  margin-top: 5px;
  color:whitesmoke;
  font-size: 16px;
}
.wrapper .form{
    float: left;;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid whitesmoke;
}
.form input:focus{
  box-shadow: 0 3px 6px rgba(248, 5, 5, 0.13);
}
.form input::placeholder{
  color: #999;
  opacity:20;
}
.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background-image: url("BUT.avif");
  background-size: cover;
  background-repeat: no repeat;
}
.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 1px;
  border-radius: 5px;
  align-items: center;
  pointer-events:none;
  justify-content: center;
  border: 1px solid black;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

@media only Screen and (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  } 
  .wrapper.active{
    height: 510px;
  }
  header p{
    color: #696969;
  }
  .form :where(input, button){
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  
  }  
}